################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/idview/desktop.ini
pricelog/desktop.ini
